@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
:root {
  --green200-light: hsl(148, 38%, 91%);
  --green600-med: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  --white: hsl(0, 0%, 100%);
  --grey500-med: hsl(186, 15%, 59%);
  --grey900-dark: hsl(187, 24%, 22%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}
body {
  height: 100vh;
  background-color: var(--green200-light);
}
/* main layout styling */
.main {
  position: relative;
  background-color: var(--white);
  max-width: 600px;
  /* height: 650px; */
  /* margin: auto auto; */
  padding: 35px;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form {
  color: var(--grey900-dark);
}
/* fields */
.form__row,
.radio__field {
  display: flex;
  gap: 20px;
}
.field__input,
.mssg__input {
  display: block;
  width: 100%;
}
.field,
.radio__opt {
  flex-grow: 1;
}
/* fieldset default reset */
.radio {
  border: none;
  padding: 0;
  margin: 0;
}
.consent {
  margin: 35px 0;
}
.consent__field {
  /* vertical-align: middle; */
  display: flex;
  align-items: center;
}
.consent__input {
  appearance: none;
  width: 15px;
  height: 15px;
  margin-right: 15px;
  background-color: var(--white);
  border: 1px solid var(--grey500-med);
}
.required {
  color: var(--green600-med);
}
.field__input,
.radio__opt {
  height: 40px;
  border: 1px solid var(--grey900-dark);
  border-radius: 5px;
  vertical-align: middle;
  padding: 10px 15px;
}

.radio__opt {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  /* line-height: 40px; */
}
.mssg__input {
  height: 80px;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
/* extra layout styling */
.main__title {
  margin-bottom: 30px;
}
.field__label,
.radio__title,
.mssg__label {
  display: inline-block;
  margin-bottom: 10px;
}
.form__row,
.form__row + .field,
.radio {
  margin-bottom: 20px;
}
.submitbtn {
  width: 100%;
  /* height: 50px; */
  padding: 20px;
  border: none;
  background-color: var(--green600-med);
  color: white;
  border-radius: 10px;
  font-size: 16px;
}
.form input,
.form label,
.submitbtn {
  cursor: pointer;
}
.radio__input {
  accent-color: var(--green600-med);
  width: 15px;
  height: 15px;
}
/* states */
.field__input:focus,
.mssg__input:focus {
  border: 1px solid var(--green600-med);
  outline: none;
  /* outline: 1px solid var(--green600-med); */
}
.radio__opt:has(.radio__input:checked) {
  background-color: var(--green200-light);
  border: 1px solid var(--green600-med);
  outline: none;
}
.submitbtn:hover {
  background-color: var(--grey900-dark);
}
.consent__input:checked {
  background-color: var(--green600-med);
  outline: none;
  border: none;
}
.consent__input:checked::after {
  content: "✔";
  display: block;
  color: var(--white);
  font-size: 10px;
  text-align: center;
  /* vertical-align: middle; */
  line-height: 16px;
}
.field__err, #radio__err, #mssg__err, #consent__err{
    display: none;
    font-size: 14px;
    margin-top: 5px;
    color: var(--red);
}
.show{
    display: block;
}